.clients-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -15px;

	// @media screen and (min-width: 1200px) {
	// 	justify-content: space-between;
	// }
}

.clients-item {
	margin: 15px;
}

.clients-item .link {
	display: flex;
	justify-content: center;
	align-items: center;
	fill: #afb1b8;
	width: 170px;
	height: 90px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	@media screen and (max-width: 767px) {
		max-width: 210px;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		width: 226px;
	}

	&:hover,
	&:focus {
		fill: $accent-color;
		border-color: $accent-color;
	}
}
